html{
	background-color: #005588
}

body{
	overflow-y: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

#topmenu {
	/*margin-bottom: 20px;*/
	position: absolute;
	top: 0px;
	left: 0px;
    
    white-space: nowrap;
    width: 100%;
    /*background-color: lightgrey;*/
	/*box-shadow: 2px 2px 10px #000; */
	padding-bottom: 5px;
	z-index: 100;
}


@media (max-width: 481px) {
	#topmenu {
		overflow-x: scroll;
	}
}

#topmenu button {
	width: 100px;
	height: 40px;
    white-space: normal;
    padding: 0px;
    background-color:#FFF;
    border:0px solid #aaa;
    padding-bottom:4px;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 4px; 
    margin: 0px; 
    /*border-radius: 4px 4px 4px 4px;*/
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    box-shadow: 2px 2px 10px #000;
}

#topmenu button:hover{
	background-color:#f5f5f5; 
	cursor: pointer;
}

#contentStart{
	margin-top: 60px;
	height: 10px;
}
div.card div.mailbody{
	margin-top: 10px;
}
div.card .mailbody.plain{
	white-space: pre-wrap;;
}

div.mailheader table tr td:first-child{
	font-weight: bold;
}

div.mailheader table td{
	padding-top: 0px;
	padding-bottom: 0px;
}

div.mailattachment{
	margin-left: 10px;
	margin-right: 10px;
}

.mailattachments a {
	margin-right: 12px;
	color: #005588;
	
}

#errors{
	-webkit-transition: all 0.1s; /* For Safari 3.1 to 6.0 */
    transition: all 0.1s;
    transition-timing-function:ease-out;
	color: red; 
	margin: 5px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 100;
	font-size: 130%;
	/*display: block;*/
	font-weight: bold;
}
#errors.hide{
	/*display: none;*/
	font-size: 0%;
}

/* Card */
.cardlist{
	overflow-x: hidden;
	overflow-y: scroll;
	
	padding-top: 50px;
	position:absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-left: 5px;
	padding-right: 8px;
	background: transparent;
}

div.card{
	/*margin-top: 20px;*/
	background-color: white; 
	padding: 5px; 
	box-shadow: 3px 3px 7px #222;
	margin-bottom: 12px;
	overflow-x: auto;
}
.card h2{
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Card Transition */
.card.animate{
	-webkit-transition: left 0.2s; /* For Safari 3.1 to 6.0 */
    transition: left 0.2s;
    transition-timing-function:ease-out;
    position: relative;
    left: 2000px;
    z-index: 1;
}

.card.show.animate{
	left: 0px;
	z-index: 2;
	display: block;
}
.card.hide.animate{
	left: -2000px;
	z-index: 0;
    transition-timing-function:ease-in;
}

.cardlist.hide{display:none;}

/* Mail body transition */
div.card div.mailbody{
	display: none;
}
div.card div.mailbody.show{
	display: block;
}
