#topmenu {
	margin-bottom: 20px;
}
#topmenu button {
	width: 100px;
	height: 50px;
}

div.mailcontainer{
	margin-top: 20px;
	background-color: white; 
	padding: 5px; 
	box-shadow: 5px 5px 5px #000; 
	margin-bottom: 20px;
}
div.mailcontainer div.mailbody{
	margin-top: 10px;
}
div.mailcontainer .mailbody.plain{
	white-space: pre;
}

div.mailheader span{
	width: 100px;
	display: inline-block;
	font-weight: bold;
}
div.mailattachment{
	margin-left: 10px;
	margin-right: 10px;
}

.mailattachments a {
	margin-right: 12px;
	color: black;
	text-decoration: none;
	display: inline-block;
}

.mailattachments div {
	display: inline;
}

#errors{color: red; margin: 5px;}